*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100dvh;
}
a{
    text-decoration: none;
    padding: 0.1rem;
    background: lightgray;
    border-radius: 0.5rem;
    outline: solid 1px #000;
}
.text section{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}